<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>VueJS</title>
	<meta name="description" content="The HTML5 Herald">
	<meta name="author" content="SitePoint">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<link href="./style.css" rel="stylesheet">
  

</head>

<body>
  
  <div id="myApp">
	<div v-if="show">{{message}}</div>
	<div v-if="!show">No Message</div>
	<div v-for="(item, index) in games">({{index}}){{item.title}}</div>
	
	
	<br>
	this game name is: {{gameName}}
	<input v-model="gameName" />
	<br>
	{{cloneGameName}}
	<br>
	<button @click="clickYo(9998)">Yo button</button>
	<br>
	
	
	
	
	<game-item v-bind:key='item.id' v-for="item in games" v-bind:game="item">
	
	</game-item>
	
	{{numberO | addOne }}
	
	{{newNumberO}}
	
	
	
	<!-- class bind -->
	<div v-bind:class="{active:isActive}"> red 1</div>
	<div :class="{active:isActive}"> red 2</div>
	<button @click="changeClass">Change class</button>
	
	<div :class="myStyleClasses">Big Red</div>
	<button @click="changeBigRedClass">Change Big Red class</button>
	
	
	<!-- if statement -->
	<!-- still virtual DOM -->
	<div v-if="mark >= 60 && mark <= 80"> Good </div>
	<div v-else-if="mark < 60"> bad</div>
	<div v-else-if="mark > 80"> Very good</div>
	{{mark}}
	<button @click="getMark">Get mark</button>
	
	<!-- v-show -->
	<div v-show="isShowing"> Showing </div>
	<button @click="showIt">Just Show</button>
	
  </div>
  
  
  <script>
  
  
  Vue.component("game-item",{
	props:["game"],
	template: "<li>{{game.title}}</li>",
  });
  
  var myApp = new Vue({
  
	el: "#myApp",
	data:{
		show: false,
		message: "wtf",
		gameName: "init game name",
		cloneGameName: "s",
		numberO: 10,
		isActive: true,
		games:[
			{id:1, title: "test title 1"},
			{id:2, title: "test title 2"},
			{id:3, title: "test title 3"},
			{id:4, title: "test title 4"},
		
		],
		myStyleClasses: {
			active: true,
			big: true,
			high: true,
		},
		mark : 0,
		isShowing: true,
		
	},
	filters:{
		addOne: function(v){
			return this.numberO = v + 7;
		},
	},
	watch:{
		numberO: function(newV, oldV){
			console.log(newV, oldV);
			this.cloneGameName = "hello world";
		}
	
	},
	methods:{
		clickYo: function(value){
			this.newNumberO = value;
		},
		
		changeClass: function(){
			this.isActive = !this.isActive;
		},
		
		changeBigRedClass: function(){
			this.myStyleClasses.big = !this.myStyleClasses.big;
		},
		getMark: function(){
			this.mark = Math.floor(Math.random() *100);
		
		},
		showIt: function(){
			this.isShowing = !this.isShowing;
		
		}
	},
	computed:{
		newNumberO: {
			get: function(){return 1234567},
			set: function(value){ this.gameName = "newNumberO updated" },
		},
	
	},
	
	
  
  });
  

  
  </script>
  
  
  
</body>
</html>